<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h3>API Project</h3>
        <h2>Welcome to the API Page <%= name %>.</h2>
        <hr>
        <h2>API List</h2>
        <ul>
            <li><a href="/api/1">API 1</a></li>
            <li><a href="/api/2">API 2</a></li>
            <li><a href="/api/3">API 3</a></li>
            <li><a href="/api/4">API 4</a></li>
            <li><a href="/api/5">API 5</a></li>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>